#articlesBody {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url("../assets/codeBackground.jpg");
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
	align-items: center;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(13, auto);
}

#articlesBody > ul > li {
	list-style-type: none !important;
}
img {
	max-width: 100%;
}
.titleWrap {
	width: 80%;
}
