#loadingContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	background: url("../assets/codeBackground.jpg");
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}
#profileContainer {
	display: flex;

	justify-content: center;
	min-height: 100vh;
	background: url("../assets/codeBackground.jpg");
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}
.slide {
	animation: slide-in 1.2s ease-in-out forwards;
}
.slideOut {
	animation: slide-out 0.7s ease-in-out forwards;
}
@keyframes slide-in {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(200%);
		opacity: 0;
	}
}
#profileInfo {
	display: flex;

	flex-wrap: wrap;
}
#proImg {
	max-height: 250px;
	max-width: 250px;
	border-radius: 250px;
	margin-top: 35px;
}
#imgWrap {
	display: flex;
	justify-content: center;
	width: 40%;
}
#usrName {
	font-size: 60px;
	font-family: "poiret one";
	margin: 40px 40px;
}
.usrFields {
	font-family: "poiret one";
	font-size: 20px;
	border-bottom: 1px solid white;
	padding: 5px;
}
.fieldWrapper {
	display: flex;
}
.fa-pen {
	font-size: 40px;
	margin-top: 55px;
	cursor: pointer;
}
#profileSheet {
	border: 1px solid white;
	margin-top: 180px;
	width: 80%;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;

	color: white;
	/*background-color: rgba(255, 255, 255, 0.7);*/
}
#profileSheet > div:last-child {
	margin-bottom: 25px;
}
#newArticleWrapper {
	border: 1px solid white;
	width: 90%;
	height: auto;
	align-self: center;
	margin-top: 25px;

	background-color: rgba(0, 0, 0, 0.5);
}
#thisUserArticle {
	width: 90%;
	margin-top: 25px;

	align-self: center;

	height: 320px;
	display: flex;
	color: black;
}
#artImage {
	height: 320px;
	width: 50%;
}
#artContent {
	height: 320px;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	font-family: "questrial";
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
	word-break: break-word;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#artInfo {
	display: flex;
	justify-content: space-between;
}
#userArtThumbs {
	display: flex;
	width: 50%;
	justify-content: space-around;
}
.woo {
	margin: 15px 0 0 15px;
	font-size: 25px;
}
#articleTitle {
	font-size: 40px;
}
#artPreview {
	color: gray;
	font-size: 30px;
	line-height: 30px;
	height: 120px;

	overflow: hidden;
}

#addArticle {
	text-align: center;
	font-size: 50px;
	color: white;
	margin-top: 30px;
	margin-bottom: 25px;
	cursor: pointer;
	grid-area: a;
}
#addArticleIcons {
	display: grid;

	grid-template-columns: repeat(13, 1fr);
	grid-template-areas: ". . . . . . a b c . . . .";
}
.fa-image {
	grid-area: b;
	margin-top: 45px;
	font-size: 25px;
	margin-left: 20px;
	cursor: pointer;
	opacity: 0;
	color: white;
}
.fa-imageHolder {
	grid-area: b;
}
.fa-imageHolder2 {
	grid-area: c;
}
.fa-quote-right {
	grid-area: c;
	margin-top: 45px;
	font-size: 25px;
	cursor: pointer;
	opacity: 0;
	color: white;
}

input[type="file"] {
	display: none;
}
.showImgIcons {
	animation: appear 0.4s ease-in forwards;
}
.hideImgIcons {
	animation: dissapear 0.4s ease-in forwards;
}
.pho:hover {
	transition: color 0.3s;
	color: gold;
}
.phos:hover {
	transition: color 0.3s;
	color: gold;
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes dissapear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

form {
	display: flex;
	flex-direction: column;

	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.visible {
	max-height: 1000px;
	transition: max-height 0.7s ease-in-out;
}

.slideUp {
	transition: max-height 0.7s ease-in forwards;
	max-height: 0;
}
#submArticle {
	width: 20%;
	min-width: 100px;
	height: 40px;
	border: white 1px solid;
	font-size: 25px;
	background-color: transparent;
	color: white;
	cursor: pointer;
	margin-right: 50px;
	margin-bottom: 50px;
	float: right;
}
.yass {
	margin-right: 5px;
	margin-left: 5px;
}
#submArticle:hover {
	transition: background-color 0.2s ease-in;
	background-color: #199db4;
}
#cancelArticle:hover {
	transition: background-color 0.2s ease-in;
	background-color: #f46542;
}
#cancelArticle {
	width: 20%;
	min-width: 100px;
	height: 40px;
	border: white 1px solid;
	font-size: 25px;
	background-color: transparent;
	color: white;
	margin-left: 50px;
	margin-bottom: 50px;
	cursor: pointer;
}
#artTitle {
	height: 40px;
	font-size: 30px;
	background-color: transparent;
	font-family: "questrial";
	border: none;
	outline: none;
	color: white;
}
#story {
	min-height: 500px;
	background-color: transparent;
	font-size: 20px;
	font-family: "questrial";
	border: none;
	outline: none;
	padding: 30px;
	color: white;
}
.spinner {
	margin-top: -180px;
	width: 80px;
	height: 60px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	margin: 0 2px 0 2px;
	background-color: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 10px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}
@media (max-width: 1000px) {
	#imgWrap {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#profileInfo {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#profileSheet {
		width: 100%;
		border: none;
	}
	.fa-imageHolder {
		margin-left: 10px;
	}
	.fa-imageHolder2 {
		margin-left: 10px;
	}
	.yass {
		font-size: 20px;
	}
}
@media (max-width: 600px) {
	#submArticle {
		width: 40%;
	}
	#addArticleIcons {
		grid-template-areas: ". . . . . . a a a b c . .";
	}
	#addArticle {
		margin-left: 25px;
	}
}
@media (max-width: 700px) {
	#addArticleIcons {
		grid-template-areas: ". . . . . . a a b c . . .";
	}
	.fa-imageHolder {
		margin-left: 25px;
	}
	.fa-imageHolder2 {
		margin-left: 25px;
	}
}
@media (max-width: 800px) {
	#thisUserArticle {
		display: flex;
		flex-direction: column;
		height: 600px;
	}
	#artImage {
		width: 100%;
	}
	#artContent {
		width: 100%;
	}
}
